:root {
	--color-primary: hsl(179, 62%, 43%);
	--color-accent: hsl(71, 73%, 54%);

	--color-neutral-100: hsl(204, 43%, 93%);
	--color-neutral-400: hsl(218, 22%, 67%);
}

body {
	background-color: var(--color-neutral-100);
	padding: 4rem 0;
}

.top-section {
	display: flex;
	justify-content: center;
	align-items: center; 
}

li {
	list-style: none;
}

.top {
	display: flex;
	justify-content: center;
	background-color: teal;
}

.join {
	color: darkred;
	display: flex;
	justify-content: center;
}

.bottom {
	display: flex;
	flex-wrap: wrap;
}


.b-left {
	background-color: lightseagreen;
	display: flex;
	justify-content:
}

.sign-up {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.b-right {
	background-color: lightgoldenrodyellow;
}